---
- name: "List set theory filters"
  hosts: localhost
  vars:
    list_unique: [1, 2, 3, 2, 3, 4]    # 2と3が重複
    list_A: [1, 2, 3, 4]   # 3と4が重複
    list_B: [3, 4, 5, 6]
    list_C: [1, 2, 3, 4,5]
  gather_facts: false
  tasks:
    - name: Test unique
      debug:
        msg: "{{ list_unique | unique }}"

    - name: Test intersect(A AND B)
      debug:
        msg: "{{ list_A | intersect(list_B) }}"

    - name: Test union(A OR B)
      debug:
        msg: "{{ list_A | union(list_B) }}"

    - name: Test symmetric_difference(A XOR B)
      debug:
        msg: "{{ list_A | symmetric_difference(list_B) }}"

    - name: Test difference(A-B)
      debug:
        msg: "{{ list_A | difference(list_B) }}"

    - name:
      assert:
        that:
          - "{{ list_A | symmetric_difference(list_C) | length }} == 0"
        fail_msg: "{{ list_A }}=={{ list_C }}\nNG."
        success_msg: "{{ list_A }}=={{ list_C }}\nOK"
